* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    cursor: none;
}

body {
    background-image: url("./images/wall.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    text-align: center;
}

button {
    color: #fff;
    border: 2px solid #fff;
    background: transparent;
    padding: 15px 45px;
    font-size: 1.1rem;
    margin-top: 3rem;
    outline: none;
    cursor: none;
}

.container {
    position: relative;
    height: 100%;
    overflow: hidden;
}

.bloodSpot {
    position: absolute;
    height: 50px;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.terrorist {
    height: 100px;
}

img::selection {
    background: transparent;
}

.cursor {
    position: absolute;
    height: 70px;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 2;
    transition: 0.3s transform ease;
    transform-origin: 100% 100%;
}